In [42]:
# List of high schools
high_school = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_school:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [43]:
# A dictionary of high schools and type of school.
high_school_type = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school_type in high_school_type:
    print(school_type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [64]:
# Adding pandas dependency 
import pandas as pd

In [79]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
high_schools_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
high_schools_type = ["District1","District2","Charter3","District4","Charter5","Charter6","District7","Charter8","Charter9","Charter10","District11","District12","Charter13","Charter14","charter15"]

In [80]:
high_schools_df = pd.DataFrame()

In [81]:
high_schools_df["high schools"]= high_schools
high_schools_df["high schools id"]= high_schools_id
high_schools_df["high schools type"]= high_schools_type

In [82]:
high_schools_df

             high schools  high schools id high schools type
0       Huang High School                0         District1
1    Figueroa High School                1         District2
2     Shelton High School                2          Charter3
3   Hernandez High School                3         District4
4     Griffin High School                4          Charter5
5      Wilson High School                5          Charter6
6     Cabrera High School                6         District7
7      Bailey High School                7          Charter8
8      Holden High School                8          Charter9
9        Pena High School                9         Charter10
10     Wright High School               10        District11
11  Rodriguez High School               11        District12
12    Johnson High School               12         Charter13
13       Ford High School               13         Charter14
14     Thomas High School               14         charter15

In [78]:
school_series[0:4]

0        Huang High School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
dtype: object

In [26]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [27]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [29]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [34]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
# Print the DataFrame.
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [35]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [36]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [37]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)